body{
    background-color: #D5D5D5;
    font-family: Helvetica;
    color: black;
    margin: 0;

}

#myHeading {
    padding: 20px;
    margin-top: 30px;
    height: 1500px;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6D7993;
    position: fixed;
    width: 100%;
    top: 0;
}

ul.navbar li {
    float: left;
    list-style: none;
    border-right-style: solid;
    border-width: 1.5px;
    border-color: #D5D5D5;
}

ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
ul.navbar li a:hover {
    background-color: #9099A2;
}

ul.navbar li a.active {
    background-color: #96858F;
}

#bioPic {
    width: 30%;
    height: auto;
    float: left;
    padding-right: 20px;
}
.bioText {
    padding bottom: 10px;
}
@media screen and (max-width: 600px){
    ul.topnav li {float: none;}

